<p>API data is easily accessible at <a href="http://www.pcd.go.th/AirQuality/Bangkok/Default.cfm">www.pcd.go.th/AirQuality/Bangkok/Default.cfm</a></p>
<p>Population: 11 million (2007 figures)</p>
<p>Bangkok’s reputation for filthy air is gradually evaporating and measures aimed at cutting
vehicle emissions and expanding mass transit are paying off. Between 1997 and 2007, the
city saw a 47 percent decrease in the amount of harmful small dust particles. Despite such
efforts, Bangkok's air quality still remains worse than that of Asia's cleanest cities, such as Tokyo and Singapore.</p>