<p>While there are indications that the Indian government does routinely monitor AQI in the
country’s largest cities, AQI figures could not be found online. Therefore, we have written “No/
limited data” for Mumbai.</p>
<p>Population: 20.4 million (2009 figures)</p>
<p>Mumbai records some of worst air pollution levels in the world. Heavy industrialization,
increase in population rates and vehicle fumes contribute towards air pollution in Mumbai.
Adding to this, the high levels of toxic and carcinogenic chemicals emitted from the chemical
industry zone situated in close proximity to the city are also causing serious air pollution woes
for Mumbai. A recent chlorine gas leak had severe impacts on many people and coal and
dust produced from these factories are also polluters in Mumbai.</p>