<p>API data is easily accessible at <a href='http://www.mep.gov.cn/'>www.mep.gov.cn</a></p>
<p>Population: 14 million (2009 figures)</p>

<p>The Southern Chinese city suffers from bad air quality. Local government authorities
struggled to improve the city’s air quality ahead of the 2010 Asian Games, as the host city
continued to record high levels of pollutants PM10, PM2.5 and ozone. Vehicle ownership and
heavy industrial production throughout the Pearl River Delta region are cited as main causes
behind Guangzhou’s air pollution woes.</p>