<p>AQI data, which only measures PM10, is available to however the monthly details are sent to
members who have subscribed to the Air Resources Management Centre of the Ministry of
Environment.</p>
<p>The commercial hub of Sri Lanka, Colombo has been in the news due to issues with relation to
air pollution. The problem is on the rise and the quality levels are described as deteriorating. The
main cause of air pollution is the emission of fumes and particles due to incomplete combustion
in motor vehicles. Along with this, the lack of a proper mechanism to check the standards of
vehicles imported to the country, the quality of fuel imported and levels of Sulpher emissions also
add to Colombo’s air quality woes. Also, emissions from factories of different scales contribute
to the issue as well, as some factories operate without the proper licenses and without adhering
to the laws. Although there is ongoing litigation in relation to air quality standards in Sri Lanka,
adequate measures have not been taken to implement or maintain the rulings of the Supreme
Court. Hence the pollution in Colombo is increasing.</p>