<p>API data is easily accessible at <a href="http://www.epd-asg.gov.hk/eindex.html">www.epd-asg.gov.hk/eindex.html</a> (we use Central/
Western District’s figures for this website)</p>
<p>Population: 7 million (2010 figures)</p>
<p>Anybody who regularly visits Hong Kong will notice the worsening air quality of the city. 2010
showed the worst levels of pollution since 2005, prompting the government to warn the public
against outdoor activity. According to the government, Hong Kong faces two air pollution
issues. One is local street-level pollution rising from diesel vehicles. The other is the regional
smog problem, caused by a combination of pollutants from motor vehicles, industry and
power plants both in Hong Kong and in the Pearl River Delta region in Mainland China.</p>