<p>API data is easily accessible at <a href="http://www.doe.gov.my/apims/index.php">www.doe.gov.my/apims/index.php</a></p>
<p>Population: 1.8 million (2010 figures)</p>
<p>During the non-haze periods, vehicular emissions continue to be the major culprit of air
pollution in Kuala Lumpur. However, Kuala Lumpur also regularly suffers from haze, coming
from large forest fires in Indonesia. The fires are a regular occurrence during the dry season
in areas such as Sumatra and Borneo, but the situation has deteriorated in the last decade,
with timber and plantation firms often blamed for deliberately starting fires to clear land.</p>