<p>API data is easily accessible at <a href='http://www.mep.gov.cn/'>www.mep.gov.cn</a></p>
<p>Population: 19.7 million (2009 figures)</p>
<p>While government and media reports often claim that Beijing’s air quality has improved ever
since the 2008 Olympic Games, Beijing continues to rank high as having one of the world's
worst air quality. Beijing's air pollution is mainly attributed to heavy construction, industrial
emissions from coal-fired power plants, and growing private car ownership.</p>