<p>API data is easily accessible at <a href='http://www.mep.gov.cn/'>www.mep.gov.cn</a></p>
<p>Population: 19.2 million (2009 figures)</p>
<p>According to media reports, Shanghai’s air quality has plummeted since the end of the World
Expo in October 2010. At one point in November 2010, the city recorded an API of 370—the
worst reading in ten years. The recent decline in Shanghai’s air quality is in part due to heavy
local construction as well as the restarting of hay burning and less frequent road cleaning
after the end of the Expo. Moreover, dust brought by sandstorms in northern areas is also
exacerbating the problem.</p>