<p>API data is easily accessible at <a href="http://app2.nea.gov.sg/psi.aspx">app2.nea.gov.sg/psi.aspx</a></p>
<p>Population: 5 million (2010 figures)</p>
<p>While Singapore holds the record for having some of the cleanest air amongst Asian cities,
the quality of air still regularly not meet WHO standards. With nearly one million vehicles on
the road, vehicle fumes are the main contributor to air pollution in Singapore. The issue is
further exacerbated with industrialization and oil refineries which are a result of Singapore’s
rapid development. In the dry season, Indonesian forest fires cause the haze in Singapore,
leading to many health hazards.</p>