<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/css/aca.css">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/assets/js/asa.js"></script>
	<title>Our Air. Our Asia.</title>
</head>
<body id="main" class="map">
	<div id="header">
		<h1><a href="/">Our Air. Our Asia.</a></h1>
	</div>
	<div id="time">
		<h1><span class="jsclock"></span></h1>
	</div>
	<div id="about">
		<h3>About the Project</h3>
		<p>Unparalleled economic development in Asia during the past few decades
			has also led to increases in air pollutants and greenhouse gases—as a
			consequence, Asian cities suffer some of the worst air pollution in
			the world. This situation is expected to worsen in the future, threatening
			to contribute to climate change and endanger the health of the 1.8 billion
			people who live in Asia’s urban centers.</p>
		<p>Our goal with "Our Air, Our Asia" is to create a tool to give people easy
			access to information about air quality in their cities.  We also hope that
			our website can provide a bigger picture on the severity of air pollution
			in cities across Asia.</p>
		<p>For more information on this website, please visit our <a href="/faq">Q &amp; A</a>.</p>
		<div class="social fb"><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="false" width="225"></fb:like></div>
		<div class="social twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
	</div>
	<div id="content"></div>
	<div id="footer">
		<p>“Our Air, Our Asia” is a public service project created by members of
			<a href="http://asiasociety.org">Asia Society’s</a>
			<a href="http://asiasociety.org/policy-politics/asia-21/asia-21-young-leaders-initiative"
			title="The Asia 21 Young Leaders Initiative | Asia Society">Asia 21 Young Leaders
			Initiative</a></p>
	</div>
</body>
</html>